.gitconfig
.clover/
.rvmrc
.gradle/
.idea/
.DS_Store
target/
bin/
build/
src/logs/
reports/
src/main/webapp/index.html
.metadata/
.metadata
.project
.classpath
.settings
.springBeans
*.iml
*.ipr
*.iws
*.bak

