<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.vmware.server.tc.launchConfiguration">
<booleanAttribute key="com.springsource.sts.server.insight.ui.insightConfigured" value="true"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/usr/bin/springsource/vfabric-tc-server-developer-2.6.3.RELEASE/spring-insight-instance/bin/insight-bootstrap-tcserver-1.5.1.SR2.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.6.0_27&quot; path=&quot;2&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/usr/bin/springsource/vfabric-tc-server-developer-2.6.3.RELEASE/tomcat-7.0.23.A.RELEASE/bin/bootstrap.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/usr/bin/springsource/vfabric-tc-server-developer-2.6.3.RELEASE/tomcat-7.0.23.A.RELEASE/bin/tomcat-juli.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/usr/bin/Java/jdk1.6.0_27/lib/tools.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/usr/bin/springsource/vfabric-tc-server-developer-2.6.3.RELEASE/spring-insight-instance/lib/aspectjweaver-1.6.11.SR1.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.6.0_27"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcatalina.base=&quot;C:\usr\bin\springsource\vfabric-tc-server-developer-2.6.3.RELEASE\spring-insight-instance&quot; -Dcatalina.home=&quot;C:\usr\bin\springsource\vfabric-tc-server-developer-2.6.3.RELEASE\tomcat-7.0.23.A.RELEASE&quot; -Dwtp.deploy=&quot;C:\usr\bin\springsource\vfabric-tc-server-developer-2.6.3.RELEASE\spring-insight-instance\wtpwebapps&quot; -Djava.endorsed.dirs=&quot;C:\usr\bin\springsource\vfabric-tc-server-developer-2.6.3.RELEASE\tomcat-7.0.23.A.RELEASE\endorsed&quot; -Daspectj.overweaving=true -Djava.awt.headless=true -Dgemfire.disableShutdownHook=true -Dinsight.base=&quot;C:\usr\bin\springsource\vfabric-tc-server-developer-2.6.3.RELEASE\spring-insight-instance\insight&quot; -Xmx1024m -XX:MaxPermSize=256m -Xss192k"/>
<stringAttribute key="server-id" value="VMware vFabric tc Server Developer Edition v2.6"/>
</launchConfiguration>
