<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/jms
              http://www.springframework.org/schema/jms/spring-jms.xsd">
	
	<bean id="listener" class="samples.jms.LoggingMessageListener"/>
	
	<jms:listener-container concurrency="3" connection-factory="connectionFactory">
		<jms:listener ref="listener" destination="sampleQueue"/>
	</jms:listener-container>
	
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="defaultDestination" ref="queue"/>
	</bean>

	<bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="sampleQueue"/>
	</bean>

	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="vm://embedded?broker.persistent=false"/>
	</bean>
	
</beans>
