            ------
            BASE Logic: ${project.parent.name}: ${project.name}
            ------
            Mick Knutson
            ------
             Date

<${project.parent.name}:> <<${project.name}>>

  This project is located on {{{https://github.com/mickknutson/SpringCertification} Github}}

  * >>> {{{http://baselogic.com/code/SpringCertification/SpringCore/index.html} SpringCore}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringAOP/index.html} SpringAOP}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringJMX/index.html} SpringJMX}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringJDBC/index.html} SpringJDBC}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringJPA/index.html} SpringJPA}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringHibernate/index.html} SpringHibernate}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringMVC/index.html} SpringMVC}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringJMS/index.html}SpringJMS 'not released'}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringSupport/index.html} SpringSupport}}
    
  * {{{http://baselogic.com/code/SpringCertification/SpringRemoting/index.html} SpringRemoting 'not released'}}

~~Commented out.


